.services {
  max-height: 90vh;
  padding: 4.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

.line {
  width: 30%;
  height: .3rem;
  background-color: var(--dark-text-color);
}

.card_wrapper {
  width: 100%;
  padding: 0 .2rem;
  height: 36rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}

@media screen and (min-width: 760px) {
  .services {
    padding: 4.5rem;
    max-height: none;
  }

  .card_wrapper {
    padding: 3rem;
    height: auto;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5rem;
  }

  .line {
    width: 15%;
  }
}

@media screen and (min-width: 1030px) {
  .services {
    padding: 5rem 20rem;
  }

  .line {
    width: 10%;
  }
}